/* #region RESET*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* #endregion RESET*/

/* #region COMMON*/

.container {
    max-width: 1750px;
    margin: 0 auto;
}

header,
main {
    color: white;
    font-size: 10px;
}

/* #endregion COMMON*/

/* #region HEADER*/

header {
    background-color: black;
    display: flex;
    justify-content: flex-end;
    height: 78px;
}

header div {
    background-color: #4a4a4a;
    margin: 7px 5px 48px 0;
    padding: 5px;
    border-radius: 6px;
}

/* #endregion HEADER*/

/* #region MAIN*/

main {
    background-color: black;
    height: calc(100vh - 158px);
    overflow-y: auto;
}

.container .image-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.image-container .image {
    margin: 0 6px 16px 6px;
    width: calc(100% /7 - 12px);
    position: relative;
}

.image-container .image img {
    display: block;
    width: 100%;
}

.name {
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: rgba(106, 104, 104, 0.5);
    padding: 5px;

}

/* #endregion MAIN*/

/* #region FOOTER*/

footer {
    height: 80px;
    background-color: aqua;
}

/* #endregion FOOTER*/